html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

nav {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #263238;
    width: 90px;
    height: 200%;
    overflow: hidden;
}

nav img {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

nav img.owen {
    margin-bottom: 45px;
}

body {
    background-color: #212b30;
    font-family: sans-serif;
    color: #fff;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 750px;
}

table {
    margin-top: 15px;
    margin-left:auto;
    margin-right:auto;
}

th, td {
  padding: 5px 15px;
}

::selection {
  background: #1683b9;
}

::-moz-selection {
  background: #1683b9;
}

a {
    color: #4785ee;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, time, pre {
    margin-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

pre {
    font-family: monospace;
    overflow-x: auto;
    background-color: #263238;
    page-break-inside: avoid;
    max-width: 100%;
    overflow: auto;
    padding: 15px;
    display: block;
    word-wrap: break-word;
}

pre code {
    width: 100%;
}

code {
    font-family: monospace;
}

span.keyword {
    color: #1683b9;
}

span.string {
    color: #a9b7c4;
}

span.comment {
    color: #0bb123;
}

span.type {
    color: #0bb1b0;
}

span.rule {
    font-family: monospace;
}

@media screen and (max-width: 960px) {
    main {
        margin-left: 105px;
        margin-right: 15px;
    }
}